{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<style>
    h3 {text-align: center; padding: 10px}
    p {text-align: center; padding: 10px}
    a {text-align: center;}
</style>

<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
    <h1 class="w3-margin">Blogs</h1>
    <p3 class="w3-margin">Hit a new PR? Share your progress with the community.</p3>
</header>
    <body>
{% for blog in blogs %}
    <div class="leftcolumn">
        <div class="card">
            <h1><a href ="{% url 'blog' blog.id %}">{{blog}}</a></h1>
            <p>{{blog.description}}</p>
            <h4>by {{blog.user}}</h4>
            <p><a href="{%url 'blog-create' %}">Create your own!</a></p>
        </div>
    </div>
{% endfor %}
</body>
{% endblock content %}