{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<style>
    h1 {text-align: center; padding: 10px}
    p {text-align: center; padding: 10px}
    a {text-align: center;}
</style>


<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
    <h1 class="w3-margin">Blogs</h1>
    <p3><a>Hit a new PR? Share your progress with the community</a></p3>
    <br>
</header>

<div style="text-align: center;">
    <h3><a href="{%url 'blog-create' %}">Click here to create your own!</a></h3>
</div>

    <body>
{% for blog in blogs %}
    <div class="column">
        <div class="blog_card">
            <h1><a href ="{% url 'blog' blog.id %}">{{blog}}</a></h1>
            <p>{{ blog.description|slice:"0:250" }}</p>
            <h4>by {{blog.user}}</h4>
        </div>
    </div>
{% endfor %}


</body>
{% endblock content %}