{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<header class="w3-container w3-blue w3-center" style="padding:64px 8px">
  <h1 class="w3-margin">Add Logs</h1>
  <p1> Keep up to date with your new records! </p1> <br>
</header>
<br>
<br>
<div class = "log">
  <h3> Log Bench </h3>
  <form  action="{% url 'add_bench' %}" method="get">
    <input type="number" name="num">
    <button type="submit">Log</button>
  </form>
</div>
<br><br>

<div class = "log">
  <h3> Log Squat </h3>
  <form  action="{% url 'add_squat' %}" method="get">
    <input type="number" name="num">
    <button type="submit">Log</button>
  </form>
</div>
<br><br>

<div class = "log">
  <h3> Log Weight </h3>
  <form  action="{% url 'add_weight' %}" method="get">
    <input type="number" name="num">
    <button type="submit">Log</button>
  </form>
</div>


{% endblock content %}