{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<body>

<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
    <h1 class="w3-margin w3-jumbo">My log</h1>
        <p class="w3-large">Search workouts to start logging</p>
        <form action="{% url 'workouts' %}" method="get">
            <input type="text" name="muscles">
            <button type="submit">Search</button>
        </form>
</header>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe">
</form>

<p>Note that the form itself is not visible.</p>

<p>Also note that the default width of text input fields is 20 characters.</p>

</body>
</html>



{% endblock content %}