
{% extends 'base/main.html' %}
{% block content %}
<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
    <h1 class="w3-margin">My Plan</h1>
    <p2 style="text-align: center;"> Customize your own workout! </p2> 
</header>
<br>
<div style="text-align: center;">
    <h3><a href="{% url 'plan-create' %}">Create a plan</a></h3>
</div> <br>
{% for plan in plans %}
<div class="w3-container w3-center">
    <div class="plan_card">
        <h1><a href="{% url 'plan' plan.id %}">{{plan.title}}</a></h1>
    </div>
</div>
{% endfor %}

{% endblock content %}