{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
  <h1 class="w3-margin w3-jumbo">My log</h1>
  <p class="w3-large">Search workouts to start logging</p>
  <form action="{% url 'workouts' %}" method="get">
      <input type="text" name="muscles">
      <button type="submit">Search</button>
  </form>
</header>
{% for workout in workouts %}
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">{{workout.name}}</h5>
  </div>
    <img class="card-img-top" src="{{ workout.gifUrl }}" alt="Card image cap">
    <div class="card-body">
      <form action="{% url 'addworkout' workout.name %}" method="post">
        {% csrf_token %}
          <button type="submit">Add to workout</button>
      </form>

    </div>
    <div class="card-body">
      <p class="card-text"> Equipment: {{workout.equipment}}</p>
    </div>
  </div>
{% endfor %}
{% endblock content %}
